@font-face {
  font-family: "lemon"; /* Project id 2531728 */
  src: url('iconfont.woff2?t=1620431503262') format('woff2'),
       url('iconfont.woff?t=1620431503262') format('woff'),
       url('iconfont.ttf?t=1620431503262') format('truetype');
}

.lemon {
  font-family: "lemon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lemonexit:before {
  content: "\e610";
}

.lemonexit1:before {
  content: "\e7cb";
}

.lemonShoppingCart:before {
  content: "\e61e";
}

.lemonminefill:before {
  content: "\e60c";
}

.lemonHomehomepagemenu:before {
  content: "\e9db";
}

.lemonshopping:before {
  content: "\e627";
}

.lemontubiaozhizuomoban-mian_fenlei:before {
  content: "\e615";
}

.lemonmine:before {
  content: "\e60d";
}

.lemonhome:before {
  content: "\e609";
}

.lemonShoppingcartfinancebusiness:before {
  content: "\e623";
}

.lemonfinancial_classification:before {
  content: "\e601";
}

